@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg_gradient{
  background: linear-gradient(184deg, rgba(255,235,242,1) 40%, rgba(255,255,255,1) 100%);
}
.fa-heart,.fa-shopping-cart{
  font-size: 1.4rem !important;
}